<div class="col-12 col-md-6 col-lg-4"">
  <div class="card" style="width: 18rem;">
    <img src={{tour.image}} class="card-img-top" alt={{tour.alt}}>
    <div class="card-body"> 
      <h5 class="card-title">{{tour.title}}</h5>  
      <p class="card-text">{{tour.description}}</p>
      {% if "price" in tour %}
        <p><b>{{tour.price}} </b></p>
      {% endif %}
      <a href="mailto:traiseatrip@gmail.com?subject=Inquiry%20for%20Lang%20Tengah%20Island&body=Hello%2C%0D%0A%0D%0AI%20would%20like%20to%20inquire%20about%20Lang%20Tengah%20Island.%20Could%20you%20please%20provide%20me%20more%20details%3F%0D%0A%0D%0AThank%20you!" type="button" class="btn btn-primary">Book</a>
    </div>
  </div>
</div>