<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="tour-item"> 
        <img src="/static/turtle.jpg">
        <div class="tour-info">
          <div class="tour-title">{{tour.title}}</div>
          <div class="tour-description"> Desription: {{tour.description}}</div>
          {% if "price" in tour %}
          <div class="tour-price">Price: {{tour.price}}</div>
          {% endif %}
          <a class="tour-button">Book</a>
        </div>
      </div>
    </div>
  </div>
</div>