<style>
    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }

    .tour-container {
        max-width: 1200px; /* Adjust this value to control the overall width */
        margin: 0 auto;
        overflow: hidden; /* Clear float */
    }

    .tour-item {
        width: 300px;
        margin: 20px;
        padding: 15px;
        border: 1px solid #ddd;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        float: left;
    }

    .tour-item img {
        width: 100%;
        height: auto;
        border-radius: 5px;
    }

    .tour-info {
        padding: 15px 0;
    }

    .tour-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .tour-description {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .tour-price {
        font-size: 16px;
        color: #27ae60;
        margin-bottom: 10px;
    }

    .tour-button {
        display: block;
        padding: 10px 15px;
        background-color: #3498db;
        color: #fff;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        cursor: pointer;
    }
</style>

<div class="container">
  <div class="tour-item"> 
    <img src="/static/turtle.jpg">
    <div class="tour-info">
      <div class="tour-title">{{tour.title}}</div>
      <div class="tour-description"> Desription: {{tour.description}}</div>
      {% if "price" in tour %}
      <div class="tour-price">Price: {{tour.price}}</div>
      {% endif %}
      <a class="tour-button">Book</a>
    </div>
  </div>
</div>
